* {
  main-bg:          #1D1F21AA;
  main-bg-no-alpha: #1D1F21;
  bg1:              #26292C;
  bg2:              #43382C;
  bg3:              #616263;
  accent:           #E4AD62;
  main-fg:          #8A8C8D;
  fg-inverse:       #43382C;

	spacing: 0;
	background-color: transparent;
}
