* {
  main-bg:          #17120FAA;
  main-bg-no-alpha: #17120F;
  bg1:              #1F1814;
  bg2:              #413A31;
  bg3:              #5E5C5A;
  accent:           #D6A46C;
  main-fg:          #868381;
  fg-inverse:       #413A31;

	spacing: 0;
	background-color: transparent;
}
