/*------------------
    window count
------------------*/

#windowcount {
	margin-right: 12px;
  padding-left: 70px; /* this is to keep the center icon in the center */
}
#windowcount label {
	color: @hover-fg;
}


/*-----------------
    distro icon
-----------------*/

#custom-distro {
	padding: 0 10px 0 5px;
	background-color: @accent;
	color: @main-bg;
}

/*--------------------
    idle inhibitor
--------------------*/

#idle_inhibitor {
	background-color: @time;
}

/*----------
    time
----------*/

#clock.time {
}


/*----------
    date
----------*/

#clock.date {
}

/*------------------
    Keyboard layout
 * ---------------*/

#language {
  padding-left: 6px;
}

#language.en {
  color: @accent;
}

#language:hover {
  color: @hover-fg;
}

#custom-language {
}

#custom-language.ru {
  color: @red;
}

#custom-language.en {
  color: @yellow;
}

