/*--------------
    username
--------------*/

#custom-trigger {
  padding: 0 10px;
}

/*-----------
    power
-----------*/

/*----------------
    workspaces
----------------*/

#workspaces {
}

#workspaces button {
	border-radius: 12px;
	min-width: 16px;
	padding: 0 10px;
}
#workspaces button:hover {
	background-color: @accent;
	color: @hover-fg;
}
#workspaces button.active label {
	color: @accent;
}

/* The main container */
#group-peripherals {
}

/*-----------------
    temperature
-----------------*/

#custom-temps {
  padding-left: 6px;
  padding-right: 6px;
}

/*---------------------
    gpu temperature
----------------------*/

#custom-gpu_temperature {
  border-radius: 12px;
}

#custom-gpu_temperature.gpu-cool  { color: @text; }  /* green */
#custom-gpu_temperature.gpu-warm  { color: @yellow; }  /* yellow */
#custom-gpu_temperature.gpu-hot   { color: @red; }  /* red */
#custom-gpu_temperature.gpu-unknown { opacity: 0.5; }

/*------------
    memory
------------*/

#memory {
}

/*---------
    cpu
---------*/

#cpu {
}

/*------------------
    window title
------------------*/

