/*----------------
    media info
----------------*/

#mpris {
	padding: 0 12px;
}

/*------------
    volume
------------*/

#custom-left_div.6 {
	color: @volume;
}
#pulseaudio,
#wireplumber {
}

/*----------------
    brightness
----------------*/


/*-----------------
    system tray
-----------------*/

#network {
	padding: 0 6px 0 4px;
}

#network.wifi,
#network.ethernet {
  color: @accent;
}

#network.disconnected {
  color: @red;
}

#network.linked {
  color: @flamingo; 
}

#custom-vpn {
  padding: 0 6px 0 4px;
  transition: all 0.3s ease;
}

#custom-vpn:hover {
  /*box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.3);*/
  color: @hover-fg;
}

#custom-vpn.running {
  color: @accent;
}

#custom-tailscale {
  padding: 0 6px 0 4px;
}

#custom-tailscale:hover {
  color: @hover-fg;
}

#custom-tailscale.up {
  color: @accent;
}

#bluetooth {
	padding: 0 6px 0 4px;
}
#bluetooth.connected {
  color: @accent;
}

#custom-sshfs {
  padding: 0 6px 0 4px;
  transition: all 0.2s ease;
}

#custom-sshfs:hover {
  color: @hover-fg;
}
#custom-sshfs.connected {
  color: @accent;
}

#custom-system_update {
	padding: 0 8px 0 2px;
}

/*-------------
    battery
-------------*/

#battery {
	background-color: @battery;
}

/*---------------------------
    Apps (steam and other)
 --------------------------*/
#custom-telegram {
  padding-left: 6px;
  padding-right: 6px;
}

#custom-telegram.running {
  color: @accent;
}

#custom-ollama {
  padding-left: 6px;
  padding-right: 6px;
}

#custom-ollama.running {
  color: @accent;
}

#custom-steam {
  padding-left: 6px;
  padding-right: 6px;
}

#custom-steam.running {
  color: @accent;
}

/*----------------
    power menu
----------------*/


#custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power_menu:hover {
	background-color: @hover-bg;
}
